/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;400&display=swap');


// fonts
$font-family-sans-serif: "Red Hat Text", sans-serif !default;
$font-family-monospace: "Roboto Mono", "Noto Sans Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

// colors

// R-Ladies color palette
$rl-black: #181818;
$rl-gray: #d3d3d3;
$rl-purple-bright: #88398A;
$primary: #114264;
$primary-light: #cfd9e0;
$secondary: #00857A;
$secondary-light: #E5F2F1;
$secondary-dark: #004F49;

$body-bg: #ffffff !default;
$body-color: black !default;
$link-color:  $secondary; // darken($primary, 5) !default;

// alternate colors for when the background changes
$dark-bg-text-color: #fff !default;
$dark-bg-link-color: #42affa !default;
$dark-bg-code-color: #ffa07a !default;

// headings
$presentation-heading-font: "Noto Serif", serif !default;
$presentation-heading-color: $primary !default;
$presentation-h1-font-size: 2.2em !default; //2.5em
$presentation-h2-font-size: 1.8em !default; //1.6em
$presentation-h3-font-size: 1.2em !default; //1.3em
$presentation-h4-font-size: 1.15em !default; //1.3em

$presentation-font-size-root: 25px !default;
$presentation-font-smaller: 0.7 !default;
$presentation-line-height: 1.25em !default;

// code blocks
$code-block-bg: $body-bg !default;
$code-block-border-color: lighten($body-color, 60%) !default;
$code-block-font-size: 0.8em !default;

$dark-bg-text-color: $primary;

// highlighting
$selection-bg: $primary;

/*-- scss:rules --*/

// title slide
.title-slide {
  background-color: white;
  //opacity: .85 !important;  issue: carries over to rest of section
  //padding: 1em 1em 1em 1em; issue: adds padding to background img
  border-radius: 0.5em;
  h2 {font-size: 2em;}
  h3 {font-size: 1.5em;}
}

// links
.reveal a {
  text-decoration: underline;
}

.reveal a:hover {
  text-decoration: none;
}

.reveal {
  h2 {
    font-family: "Noto Serif", serif;
  }

  h3, h4 {
  font-family: "Red Hat Text", "Fira Sans", sans-serif;
  color: $secondary;
  }

  //.title-slide h2 {
  //  font-size: $revealjs-h2-font-size;
  //}

  h3 {
    color: black;
  }

}

.center-x {
  text-align: center;
}

.right {
  text-align: right;
}

// inline code
.reveal code {
  color: $primary;
  background-color: $primary-light;
}

// smaller text
.small-text {
  font-size: 80%;
}

// horizontal bar

hr {
  color: $primary;
}

// panel tabs

// line under tabs
.panel-tabset [role="tablist"] {
  border-bottom-width: 1px;
}

// inactive tabs
.panel-tabset [role="tab"] {
  border-color: #fff #fff transparent; // top sides bottom
}

// hover
.panel-tabset [role="tab"]:hover:not([aria-selected="true"]) {
  border-color: #b1b1b1 #b1b1b1 transparent; // top sides bottom
}

// selected tab
.panel-tabset [role="tab"][aria-selected="true"] {
 // border-bottom-color: #fff !important;
}

// inline code

.reveal code {
  color: $secondary-dark;
  background-color: $secondary-light;
  //border: 1px solid $secondary;
  padding: 2 2 2 2px;
  border-radius: 1px;
}

// code block

div.sourceCode {
  //margin: 0.25em 0 0 0 !important;
  border: 2px solid $primary-light !important;
  border-radius: 0px !important;
}

// footer
.reveal .footer a {
  color: $secondary !important;
}

// odds & ends

.h3-size {font-size: $presentation-h3-font-size;}

.fade {opacity: 0.5;}

.pad {padding: 1em 1em 1em 1em;}

.margin-top {margin-top: 2em;}

.bg-white {
  background-color: white;
  border-radius: 0.5em;
}

.bg-black {
  background-color: black;
  border-radius: 0.5em;
}

.white {color: white !important;}
